body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz-cover{
  background-image: url('./assets/navi.jpg');
}

.quiz-img{
  border-radius: 6px;
}

.quiz-main{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #151515d5;
  backdrop-filter: blur(20px);
}
.points-btn{
  width: 100px;
  height: 40px;
  background-color: #00aeff;
  color: #ffffff;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 6px;
}

.timing-text{
  font-size: 30px;
  color: #ffff00;
  font-weight: bold;
}
.answer-input{
  width: 100px;
  height: 40px;
  background-color: white;
  color: #151515;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  margin-right: 20px;
}

.yellow-box{
  border-radius: 6px;
  width: 400px;
  height: 300px;
  background-color: rgba(0,174,255,.377);
}

.end-main{
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #151515d5;
  backdrop-filter: blur(20px);
}

.end-text{
  color: white;
}

.end-cover{
  background-image: url('./assets/navi.jpg');
  background-position: left;
}

.disabled-btn{
  background-color: gray;
  color: white;
}

.correctTxt{
  color: green;
}
.wrongTxt{
  color: red;
}

.correctTxt,.wrongTxt{
  font-family: Arial;
  font-weight: bold;
}